<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/output.css">
    <title>BUSSCWA</title>
</head>

<body>
    <h1 class="text-center text-2xl">BUSSCWA</h1>
    <div class="grid gap-8 grid-rows-3 items-center justify-center h-[100vh] w-full " id="main">
        <div class="w-72 rounded-md h-[90%] flex items-center justify-center text-white bg-blue-500">
            <div>
                <p class="text-3xl">Total Votes Casted</p>
                <p class="text-center text-3xl">110</p>
            </div>
        </div>
        <div class="w-72 h-full text-lg text-center rounded-md bg-yellow-500">
            <p>List of Candidates</p>

            <div class="w-72 h-56 overflow-scroll">
                <div class="bg-white flex items-center rounded-md m-4 gap-5">
                    <div class=" m-1 bg-blue-400 rounded-full h-10 w-10"></div>
                    <p class="text-xl">Taras Besra</p>
                </div>
                <div class="bg-white flex items-center rounded-md m-4 gap-5">
                    <div class=" m-1 bg-blue-400 rounded-full h-10 w-10"></div>
                    <p class="text-xl">Taras Besra</p>
                </div>
                <div class="bg-white flex items-center rounded-md m-4 gap-5">
                    <div class=" m-1 bg-blue-400 rounded-full h-10 w-10"></div>
                    <p class="text-xl">Taras Besra</p>
                </div>
                <div class="bg-white flex items-center rounded-md m-4 gap-5">
                    <div class=" m-1 bg-blue-400 rounded-full h-10 w-10"></div>
                    <p class="text-xl">Taras Besra</p>
                </div>
                <div class="bg-white flex items-center rounded-md m-4 gap-5">
                    <div class=" m-1 bg-blue-400 rounded-full h-10 w-10"></div>
                    <p class="text-xl">Taras Besra</p>
                </div>
            </div>


        </div>
        <div class="w-72 h-full">
            <p class="text-center text-xl">Signup/Login to Vote</p>
            <div class=" mt-8 bg-blue-600 w-28 h-10 rounded-md text-white m-auto p-2">
                Signup/Login
            </div>
        </div>
    </div>
</body>

</html>